<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/jass.css">
</head>

<body class="flex-column min-100-vh">
    <div class="wrapper">
<header class="header">
    <div class="nav">
        <a href="/" class="link nav-item">Home</a>
        <a class="link nav-item " href="/dashboard">Dashboard</a>
        {{#if logged_in}}
        <a class="link nav-item" href="/" id="logout">Logout</a>
        {{else}}
        <a class="link nav-item" href="/login" id="login">Login</a>
        {{/if}}
    </div>

  <h1><a class="app-title" href="/">The Tech Blog</a></h1>
</header>

<main>
{{{ body }}}
</main>
</div>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>
</html>
