<h1><a href="/dashboard">Your Dashboard</a></h1>
{{#if posts.length}}
    <section>

{{#each posts as |post|}}
    {{> post-overview}}
{{/each}}
</section>
{{/if}}
<footer>
    <a class="link" href="/dashboard/new"> <button class="btn btn-primary" id="newPostButton" type="submit">+ New Post</button></a>
</footer>



