<div class="flex-row justify-center sub-header">
<h1 class=""> <a class="dashboard-title" href="/">Your Dashboard</a></h1>
</div>
{{#if posts.length}}
    <section>

{{#each posts as |post|}}
    {{> post-overview}}
{{/each}}
</section>
{{/if}}
<footer class="footer flex-row justify-center">
    <a class="" href="/dashboard/new">+ New Post</a>
</footer>



