<div class="card">
    <h3 class="card-header">Sign Up</h3>
    <form class="card-body" id="signup-form">
        <label for="username-signup" class="form-label">Username</label>
        <input type="text" id="username-signup" class="form-input" />

        <label class="form-label" for="password-signup">Password</label>
        <input id="password-signup" type="password" class="form-input" />

        <button type="submit" class="btn">Sign up!</button>
        <a class="login-link" href="/login">Login instead</a>
    </form>
</div>

<script src="/js/signup.js"></script>